<app-menu></app-menu>
<div>
    <input class="SB" type="text" [(ngModel)]="searchIN" placeholder="search">
    <div>
        <a routerLink="add" class="btn btn-primary pointer">New Request</a>
    </div>
    <table class="table table-sm table-striped">
        <thead>
            <th><button (click)="sortOrder('id')" class="btn btn-link HB">ID</button></th>
            <th><button (click)="sortOrder('description')" class="btn btn-link HB">Description</button></th>
            <th><button (click)="sortOrder('justification')" class="btn btn-link HB">Justification</button></th>
            <th><button (click)="sortOrder('rejectionReason')" class="btn btn-link HB">Rejection Reason</button></th>
            <th><button (click)="sortOrder('deliveryMode')" class="btn btn-link HB">Delivery Mode</button></th>
            <th><button (click)="sortOrder('status')" class="btn btn-link HB">Status</button></th>
            <th><button (click)="sortOrder('total')" class="btn btn-link HB">Total</button></th>

            <th><button style="cursor:default;" class="btn HB">User</button></th>

            <th style="cursor:default;" class = "btn HB">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let x of Xs | searchrequest:searchIN | sort:columnIN:ascIN">
                <td *ngIf="editRow!==x">{{x.id}}</td>
                <td *ngIf="editRow!==x">{{x.description}}</td>
                <td *ngIf="editRow!==x">{{x.justification}}</td>
                <td *ngIf="editRow!==x">{{x.rejectionReason}}</td>
                <td *ngIf="editRow!==x">{{x.deliveryMode}}</td>
                <td *ngIf="editRow!==x">{{x.status}}</td>
                <td *ngIf="editRow!==x">{{x.total}}</td>

                <td *ngIf="editRow!==x">{{x.user.username}}</td>

                <td *ngIf="editRow!==x">
                    <a *ngIf="deleteRow!==x && ADMIN" (click)="deleteclick(x)" class="btn-link pointer">Delete</a>
                    <a *ngIf="deleteRow===x && ADMIN" (click)="confirmdeleteclick()" style="color:red" class="btn-link pointer">Confirm Delete</a>
                    <span [hidden]="!ADMIN"> | </span>
                    <a *ngIf="deleteRow!==x && ADMIN" (click)="editclick(x)" class="btn-link pointer">Edit</a>
                    <a *ngIf="deleteRow===x && ADMIN" (click)="cancelclick()" class="btn-link pointer">Cancel</a>
                    <span *ngIf="deleteRow!==x && ADMIN"> | </span>
                    <a *ngIf="deleteRow!==x" routerLink="lines/{{x.id}}" class="btn-link pointer">Details</a>
                </td>
                <!-- editing -->
                <td *ngIf="editRow===x"><input style="width:4ch" type="text" disabled [(ngModel)]="X.id"></td>
                <td *ngIf="editRow===x"><input type="text" [(ngModel)]="X.description"></td>
                <td *ngIf="editRow===x"><input type="text" [(ngModel)]="X.justification"></td>
                <td *ngIf="editRow===x"><input type="text" [(ngModel)]="X.rejectionReason" disabled></td>
                <td *ngIf="editRow===x"><input type="text" [(ngModel)]="X.deliveryMode"></td>
                <td *ngIf="editRow===x"><input type="text" [(ngModel)]="X.status" disabled></td>
                <td *ngIf="editRow===x"><input type="text" [(ngModel)]="X.total" disabled></td>
                
                <td *ngIf="editRow===x"><input type="text" value="{{X.user!.username}}" disabled></td>
                

                <td *ngIf="editRow===x"> 
                    <a (click)="editsaveclick()" class="btn-link pointer">Save</a>
                    <span> | </span>
                    <a (click)="cancelclick()" class="btn-link pointer">Cancel</a>
                </td>
            </tr>
            <tr [hidden]="emptyRowHidden || !ADMIN">
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td> 
                    <a (click)="createclick()" class="btn-link pointer">Create New</a>
                </td>
            </tr>
            <tr [hidden]="createRowHidden || !ADMIN">
                <td><input style="width:4ch" type="text" value=0 disabled [(ngModel)]="X.id"></td>
                <td><input type="text" [(ngModel)]="X.description"></td>
                <td><input type="text" [(ngModel)]="X.justification"></td>
                <td><input type="text" [(ngModel)]="X.rejectionReason" disabled></td>
                <td><input type="text" [(ngModel)]="X.deliveryMode"></td>
                <td><input type="text" [(ngModel)]="X.status" disabled></td>
                <td><input type="text" [(ngModel)]="X.total" disabled></td>
                
                <td><input type="text" value="{{loggedUsername}}" disabled></td>
                

                <td> 
                    <a (click)="saveclick()" class="btn-link pointer">Save</a>
                    <span> | </span>
                    <a (click)="cancelclick()" class="btn-link pointer">Cancel</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
