<app-menu></app-menu>
<div>
    <input class="SB" type="text" [(ngModel)]="searchIN" placeholder="search">
    <table class="table table-sm table-striped">
        <thead>
            <th><button (click)="sortOrder('id')" class="btn btn-link HB">ID</button></th>
            <th><button (click)="sortOrder('partNbr')" class="btn btn-link HB">Part Number</button></th>
            <th><button (click)="sortOrder('name')" class="btn btn-link HB">Name</button></th>
            <th><button (click)="sortOrder('price')" class="btn btn-link HB">Price</button></th>
            <th><button style="cursor:default;" class="btn HB">Photo Path</button></th>
            <th><button style="cursor:default;" class="btn HB">Vendor</button></th>
            <th style="cursor:default;" class = "btn HB" [hidden]="!ADMIN">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let x of Xs | searchProduct:searchIN | sort:columnIN:ascIN">
                <td *ngIf="editRow!==x">{{x.id}}</td>
                <td *ngIf="editRow!==x">{{x.partNbr}}</td>
                <td *ngIf="editRow!==x">{{x.name}}</td>
                <td *ngIf="editRow!==x">{{x.price | currency}} {{x.unit}}</td>
                <td *ngIf="editRow!==x">{{x.photoPath}}</td>
                <td *ngIf="editRow!==x">{{x.vendor.name}}</td>
                <td *ngIf="editRow!==x" [hidden]="!ADMIN">
                    <a hidden routerLink="details/{{x.id}}">Details</a>
                    <a *ngIf="deleteRow!==x" (click)="deleteclick(x)" class="btn-link pointer">Delete</a>
                    <a *ngIf="deleteRow===x" (click)="confirmdeleteclick()" style="color:red" class="btn-link pointer">Confirm Delete</a>
                    <span> | </span>
                    <a *ngIf="deleteRow!==x" (click)="editclick(x)" class="btn-link pointer">Edit</a>
                    <a *ngIf="deleteRow===x" (click)="cancelclick()" class="btn-link pointer">Cancel</a>
                </td>
                <!-- editing -->
                <td *ngIf="editRow===x"><input style="width:4ch" type="text" disabled [(ngModel)]="X.id"></td>
                <td *ngIf="editRow===x"><input type="text" [(ngModel)]="X.partNbr"></td>
                <td *ngIf="editRow===x"><input type="text" [(ngModel)]="X.name"></td>
                <td *ngIf="editRow===x"><input type="number" [(ngModel)]="X.price"><input type="text" [(ngModel)]="X.unit"></td>
                <td *ngIf="editRow===x"><input type="text" [(ngModel)]="X.photoPath"></td>
                <td *ngIf="editRow===x">
                    <select [(ngModel)]="X.vendorID">
                        <option *ngFor="let Y of Ys" value={{Y.id}}>{{Y.name}}</option>
                    </select>
                </td>

                <td *ngIf="editRow===x"> 
                    <a (click)="editsaveclick()" class="btn-link pointer">Save</a>
                    <span> | </span>
                    <a (click)="cancelclick()" class="btn-link pointer">Cancel</a>
                </td>
            </tr>
            <tr [hidden]="emptyRowHidden || !ADMIN">
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td><span>---</span></td>
                <td> 
                    <a (click)="createclick()" class="btn-link pointer">Create New</a>
                </td>
            </tr>
            <tr [hidden]="createRowHidden || !ADMIN">
                <td><input style="width:4ch" type="text" value=0 disabled [(ngModel)]="X.id"></td>
                <td><input type="text" [(ngModel)]="X.partNbr"></td>
                <td><input type="text" [(ngModel)]="X.name"></td>
                <td><input type="number" [(ngModel)]="X.price"> <input type="text" [(ngModel)]="X.unit"></td>
                <td><input type="text" [(ngModel)]="X.photoPath"></td>

                <td>
                    <select [(ngModel)]="X.vendorID">
                        <option *ngFor="let Y of Ys" value={{Y.id}}>{{Y.name}}</option>
                    </select>
                </td>
                <td> 
                    <a (click)="saveclick()" class="btn-link pointer">Save</a>
                    <span> | </span>
                    <a (click)="cancelclick()" class="btn-link pointer">Cancel</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
