.HB{
    font-weight:bold;
    text-decoration:none;
    align-items: center;
}
.pointer{
    cursor: pointer;
}
input{
    width: 10ch;
    margin:0;
    padding:0;
}
.SB{
    position: relative;
    left: 88.5%;
    bottom:28px;
}
.CHKBX{
    position:relative;
    right: 30px;
}
.disabled{
    color:rgba(170, 169, 169, 0.797);
    cursor: default;
    text-decoration: none;
}
.honeypot{
    width: 0;
    height: 0;
    border: 0;
    border-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}